<div class="wrapper">
  <% @meowsers.each_with_index do |meow, i| %>
    <div class="meowser index-<%= i %>">
      <!-- <div align="center"> -->
        <span class="frame">
          <img width="300" src="<%= meow %>" />
        </span>
      <!-- </div> -->
    </div>
    <style>
      <% deg = [-6-5-4-3,-2,-1,1,2,3,4,5,6].sample %>
      .meowser.index-<%= i %> .frame {
        -ms-transform:rotate(<%= deg %>deg); /* IE 9 */
        -webkit-transform:rotate(<%= deg %>deg); /* Safari and Chrome */
        transform:rotate(<%= deg %>deg);
      }
    </style>
  <% end %>
</div>
<style>
  .meowser {
    display: inline-block;
  }
  .meowser .frame {
    padding: 15px;
    background-color: #f0f0f0;
    box-shadow: 5px 5px 5px #888888;
    display: inline-block;
  }
  .wrapper {
    /*width: 1500px;*/
    /*margin: 0 auto;*/
  }
</style>