<div class="name">
  Editing: <%= @entry_form.name ? @entry_form.name : "New" %>
</div>
<div class="edit-form">
  <%= form_for @entry_form do |f| %>
    <p>
      <%= f.label :name, "Your name:" %>
      <%= f.text_field :name, title: "*required" %>
    </p>
    <p>
      <%= f.label :email, "Your email:" %>
      <%= f.text_field :email, title: "*required" %>
    </p>
    <h1>Leave a Message</h1>
    <p>
      <%= f.text_area :message, title: "I met Amy..." %>
    </p>
    <h1>Upload a Photo</h1>
    <p>
      <%= f.label :photo_url, "From the web:" %>
      <%= f.text_field :photo_url, title: "http://" %>
    </p>
    <p>
      - or -
    </p>
    <p>
      <%= f.label :photo_attachment, "From your computer:" %>
      <%= f.file_field :photo_attachment %>
    </p>
    <h1>Upload a Video</h1>
    <p>
      <%= f.label :video_url, "From the web:" %>
      <%= f.text_field :video_url, title: "http://" %>
    </p>
    <p>
      - or -
    </p>
    <p>
      <%= f.label :video_attachment, "From your computer:" %>
      <%= f.file_field :video_attachment %>
    </p>
    <br/>
    <%= f.submit "Submit" %>
  <% end %>
</div>
<div class="directions">
  <a href="/">Home</a> | <a href="/entries/<%= @entry_form.id %>">Show</a>
</div>

<style>
  .input-prompt {
    position: absolute;
    font-style: italic;
    color: #aaa;
    margin: 0.4em 0 0 0.5em;
  }
</style>

<script>
  // For prompt text
  $(document).ready(function(){
    $('input[type=text][title],input[type=password][title],textarea[title]').each(function(i){
      $(this).addClass('input-prompt-' + i);
      var promptSpan = $('<span class="input-prompt"/>');
      $(promptSpan).attr('id', 'input-prompt-' + i);
      $(promptSpan).append($(this).attr('title'));
      $(promptSpan).click(function(){
        $(this).hide();
        $('.' + $(this).attr('id')).focus();
      });
      if($(this).val() != ''){
        $(promptSpan).hide();
      }
      $(this).before(promptSpan);
      $(this).focus(function(){
        $('#input-prompt-' + i).hide();
      });
      $(this).blur(function(){
        if($(this).val() == ''){
          $('#input-prompt-' + i).show().removeAttr('style');
        }
      });
    });
  });
</script>