<div class="nav">
  <ul>
    <% @entry_forms.each do |form| %>
      <li><a href="/entries/<%= form.id %>"><%= form.entry.name %></a></li>
    <% end %>
    <li><a href="/entries/new">New...</a></li>
  </ul>
</div>
<div class="container">
  <div class="header">
    The time I met Amy...
  </div>
  <% @entry_forms.each do |form| %>
    <div class="entry">
      <div class="square bg-ready" style="<%= form.video? ? "" : "background-image: url('#{form.poster}');" %>">

      </div>
      <div class="first-name">
        <%= form.entry.name.split(' ').first %>
      </div>
      <% if form.video? %>
        <div class="clippy">
          <video class="video-bg" preload="auto" src="<%= form.video_url %>"></video>
        </div>
      <% end %>
      <a class="clicky" href="/entries/<%= form.id %>">

      </a>
    </div>
  <% end %>
  <div class="entry">
    <div class="square cta">

    </div>
    <div class="first-name">
      &nbsp;
    </div>
    <a class="clicky" href="/entries/new">
      New
    </a>
  </div>
</div>

<style>
.bg-ready {
  background-color: gray;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto auto;
}
</style>

<script>
  $(document).ready(function() {

  });
</script>