<div class="name">
  <%= @entry_form.name %>
</div>
<div class="story">
  <% if @entry_form.message? %>
    <div class="event message">
      <% split = @entry_form.message.split(' ') %>
      <span class="<%= @entry_form.message.length > 430 ? 'first-word' : ''%>"><%= split.first %></span> <%= split.slice(1, split.length).join(' ') %>
    </div>
  <% end %>
  <% if @entry_form.photo? %>
    <div class="event photo">
      <div align="center">
        <span class="frame">
          <img src="<%= @entry_form.photo_url %>" />
        </span>
      </div>
    </div>
  <% end %>
  <% if @entry_form.video? %>

    <div class="event video">
      <div align="center">
        <% if @entry_form.video_ready? %>
          <span class="frame">
            <video preload="auto" src="<%= @entry_form.video_url %>" controls></video>
          </span>
        <% else %>
           Your video is processing: <%= @entry_form.video_percent_complete %>%
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="directions">
  <a href="/">Home</a> | <a href="/entries/<%= @entry_form.id %>/edit">Edit</a>
</div>